html {
    background-color: #121212;
}
.header {
    background-color: #8662BC !important;
    display: flex;
    padding: 10px;
    justify-content: space-between;

}
.logo-placeholder{
    min-width: 100px;
    display: flex;
}
.header-band-user-controls{
    display: flex;

}


