body {
    background: #121212 !important;
    color: #dddddd !important;
}



.Planner {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.background-layer1 {
    background: #121212 !important;
}
.background-layer2 {
    background: #323232 !important
}

/*noinspection ALL*/
.bouncingLogo {
    flex: 1 1 auto;
}

.header .ui.default.dropdown:not(.button) > .text, .ui.dropdown:not(.button) > .default.text {
    color: black !important;
}
.login-header {
    background-color: #8662BC;
    height: 5rem;
    display: flex;
}

.nav {
    background-color: #8662BC !important;
    height: 5rem;
    display: flex;
    justify-content: space-between;
}
.nav .custom-menu {
    display: flex;
    margin-right: 2em;
}
.nav .logo{
    height: 100%;
    margin-left: 2em;
}

/*noinspection ALL*/
.login-header .logo {
    height: 100%;
    animation: spin 1s;
    position: relative;
}
.login {
    text-align: center;
}

.edit-header{
    background-color: #6263C3 !important;
    color: #323232 !important;
    text-align: center !important;
}

.edit-content{
    background-color: #323232 !important;
}

.segments >*, .edit-dropdown{
    background-color: #545454 !important;
    color: black !important;
}

.edit-add-btn{
    background-color: #8662BC !important;
    color: #323232 !important;
}

/*noinspection ALL*/
.login-logo{
    height: 25rem !important;
    width: auto !important;
    margin: 2% auto;
}

/*noinspection ALL*/
.header .headerItem {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-header .left {
    margin-left: 2em;
}

.login-header .right {
    margin-right: 5em;
}

/*noinspection ALL*/
.header .push {
    margin-left: auto;
}

/*noinspection ALL*/
.dropdownWrapper {
    text-align: right;
}
.song-display {
    padding: 2%;
    margin-bottom: 5%;
    border-radius: 5px;
    background-color: #545454;
    width: 90% !important;
}
.song-score {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    font-size: 1.5rem;
    margin: 0;
}
.song-details {
    display: flex;
    justify-content: space-between;
}

.song-title {
    margin: 0;
}

.portfolio{
    background: #323232;
    border-radius: 5px;
    padding-bottom: .7%;
    position: sticky;
    position: -webkit-sticky;
    width: 100% !important;
    top: 40px;
}

.songs-div{
    max-height: 67vh;
    overflow: auto;
    scrollbar-width: none;
    margin-bottom: 10px;
}

.song-display-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.create-song-controls{
    display: flex;
    justify-content: space-between;
}
.meeting-vote-controls{
    width: 85px;
    display: flex;
    justify-content: flex-end;
}

.meeting-header{
    background-color: #B464A8;
    text-align: center;
    border-radius: 5px 5px 0 0;

}
.meeting-display{
    margin: 5%;
    border-radius: 5px;
    background-color: #323232;
}
.meeting-controls{
    display: flex;
    justify-content: space-between;
    padding: 0.5%;
}
.band-display {
    background: #323232;
    width: 40% !important;
    border-radius: 5px;
    margin: 2% !important;
}
.color-grey{
    background-color: #dddddd !important;
    color: #dddddd !important;
}
.color-positive{
    background-color: #008A96 !important;
    color: #dddddd !important;
}
.color-negative{
    background-color: #CF6679 !important;
    color: #dddddd !important;
}

.inp-create > input{
    background-color: #323232 !important;
    color: white !important;
}

.meeting-date-info{
    display: flex;
    padding-left: 45px;
}

/*noinspection ALL*/
.single-vote-display{
    display: inline-block;
    margin: .5%;
}
.member-display-row {
    display: flex;
    justify-content: space-between;
}
.edit-band-controls {
    display: flex;
    justify-content: space-between;
}


/*noinspection ALL*/
.single-vote-square {
    position: relative;
    height: 15px;
    width: 15px;
    border-radius: 2px;
    background-color: #008A96;
    display: block;
    top: -12px;
    left: 25px;
}

/*noinspection ALL*/
.vote-display-wrapper{
    display: flex;
    margin-left: 0.1%;
}

/*noinspection ALL*/
.serviceView, .serviceView button, .serviceView form * {
    background-color: #121212;
    color: lawngreen;
}

.portfolio-header {
    background: #6263C3;
    border-radius: 5px 5px 0 0;
}

.add-song-btn{
    margin-bottom: 5% !important;
    width: 90% !important;
}

@keyframes spin {
    0% {
        transform: rotate(0) scale(1);
    }
    50% {
        transform: rotate(180deg) scale(0.5);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}

@keyframes grow {
    0% {
        transform: scale(0,1);
    }
    100% {
        transform:  scale(1);
    }
}

